// Application
PRODUCT_NAME = ConsultaCEP
PRODUCT_BUNDLE_IDENTIFIER = com.utfpr.consultacep

// Development
DEVELOPMENT_TEAM = 
CODE_SIGN_STYLE = Automatic

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 15.3
TARGETED_DEVICE_FAMILY = 1,2

// Swift
SWIFT_VERSION = 5.0
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Kotlin
KOTLIN_TARGET[sdk=iphonesimulator*] = ios_x64
KOTLIN_TARGET[sdk=iphoneos*] = ios_arm64
KOTLIN_TARGET[sdk=macosx*] = macos_x64 